body {
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-image: url('https://cdn.wallpapersafari.com/54/0/HluF7g.jpg');
  background-size: contain;
}

.App-dark {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url('https://fsa.zobj.net/crop.php?r=NEN5uU2X8IZQljHE49FZDNGoruapqy25QuFRFHmW_FJXPZLSISs0k3l9_cURQ4k6lKVtkUxUInJ8EqUbkH5qWqemTUwUpY143ZzJ1YBddr3vcFnbUcZoyUpZR5LnAuzFItbE5b9dXWag6Bgp1ZS2BWck1KtPxM_vu4NjXAjZtHrmW_m8burKmxUajifmLgkTkUPaD_Aa-_nYIRZ0');
  background-size: contain;

}

.App-header {
  font-family: "Pushster", cursive;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url('https://fsa.zobj.net/crop.php?r=NEN5uU2X8IZQljHE49FZDNGoruapqy25QuFRFHmW_FJXPZLSISs0k3l9_cURQ4k6lKVtkUxUInJ8EqUbkH5qWqemTUwUpY143ZzJ1YBddr3vcFnbUcZoyUpZR5LnAuzFItbE5b9dXWag6Bgp1ZS2BWck1KtPxM_vu4NjXAjZtHrmW_m8burKmxUajifmLgkTkUPaD_Aa-_nYIRZ0');
  overflow: visible;
  width: 100%;
  text-align: center;
  color: white;
  border-bottom: 20px solid grey;
}

.App-header-dark {
  font-family: "Pushster", cursive;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url('https://cdn.wallpapersafari.com/54/0/HluF7g.jpg');
  overflow: visible;
  width: 100%;
  text-align: center;
  color: black;
  border-bottom: 20px solid grey;

}
.App-header-dark > .btns {
  background-color: darkgreen;
}

.App-header-dark > .btns:hover {
    transition: ease-out 1s;
    cursor: pointer;
    background-color: orangered;
}

/* Message component */
.Messages-list {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
  border-left:1px solid orangered;
  border-right: 1px solid orangered;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
  background-color: antiquewhite;
  border-radius: 15px;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 40px;
  border-radius: 10px;
  display: inline-block;
  margin: 0 10px;
  justify-content: center;
}

.username {
  height: 25px;
  display: block;
  color: white;
  font-size: 20px;
  font-style: italic;
  padding: 10px;
}

.Message-content > .text {
  font-size: 20px;
  padding: 10px;
  max-width: 400px;
  word-wrap: break-word;
  border-radius: 12px;
  background-color: cornflowerblue;
  color: white;
  display: inline-block;
  justify-content: space-evenly;
  align-items: center;
}

.currentMember > .Message-content .text {
  background-color: orangered;
}

.formChat {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 900px;
  margin: 0 auto 40px;
}

.inputChat {
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid green;
  flex-grow: 1;
}

.btns {
  font-family: "Pushster", cursive;
  height: 30px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
  margin-left: 40%;
}

.btns:hover{
  transition: ease-out 1s;
  cursor: pointer;
  background-color: darkgreen;
}

/* Login component */
.loginCard {
  height: 200px;
  width: 400px;
  background-image: url('https://fsa.zobj.net/crop.php?r=NEN5uU2X8IZQljHE49FZDNGoruapqy25QuFRFHmW_FJXPZLSISs0k3l9_cURQ4k6lKVtkUxUInJ8EqUbkH5qWqemTUwUpY143ZzJ1YBddr3vcFnbUcZoyUpZR5LnAuzFItbE5b9dXWag6Bgp1ZS2BWck1KtPxM_vu4NjXAjZtHrmW_m8burKmxUajifmLgkTkUPaD_Aa-_nYIRZ0');
  margin: auto auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1.5em;
  color: white;
  font-size:x-large;
  font-family: "Pushster", cursive;
  background-size: contain;
  border:  10px solid white;
}

.loginInput {
  width: 200px;
  height: 20px;
  border-radius: 5px;
  /* font-family: "Pushster", cursive; */
  font-family:cursive;
  border: white;
  
  
}

.loginBtn {
  display: block;
  margin: auto;
  margin-top: 30px;
  font-family: "Pushster", cursive;
  height: 40px;
  width: 90px;
  font-size: 16px;
  border-radius: 8px;
  border: white 1px solid;
  cursor:pointer;
  background-color: black;
  color: white;
}

